<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mod Planner</title>
</head>

<body>
    <h1>Hi <%= name %>, you can plan your modules here!</h1>

    <div>
        <h2>Change the current AY/Sem you are working on</h2>
        <form action="/users/<%- name %>" method="POST">
            <input type="hidden" name="name" value=<%- name %>>
            <input type="text" placeholder="Academic Year" name="AY">
            <br />
            <span>Semester : </span>
            <select id="semester" name="semester">
               <option value='1'>1</option>
               <option value='2'>2</option> 
            </select>
            <button id='update-sem' type='submit'>Change</button>
        </form>
        <br />
    </div>

    <h2>Current editing AY/Sem : <%= AY %> Sem <%= semester %> </h2>

    
    <form action="/users/<%- name %>" method="POST">
        <h3>Add module (eg. CS1010S):</h3>
        <input type="text" placeholder="Enter Module Code" name="module">
        <input type="hidden" name="name" value=<%- name %>>
        <input type="hidden" name="AY" value=<%- AY %>>
        <input type="hidden" name="semester" value=<%- semester %>>
        <button type="submit">Submit</button>
    </form>
    <br />

    <form action="/delete" method="POST">
        <h3>Remove module (eg. CS1010S):</h3>
        <input type="text" placeholder="Enter Module Code" name="module">
        <input type="hidden" name="name" value=<%- name %>>
        <input type="hidden" name="AY" value=<%- AY %>>
        <input type="hidden" name="semester" value=<%- semester %>>
        <button type="submit">Submit</button>
    </form>
    <br />

    <h3>Modules included</h3>
    <ul class="modules">
        <% const modArr = Object.keys(modules) %>
        <% modArr.sort() %>
        <% for(const key of modArr) {%>
        <h5><%= key.slice(0, 5) + ' semester ' + key.slice(5, 6) %></h5>
            <span><%= modules[key] %></span>
        <% }%>
    </ul>

</body>

</html>