<h3>Available Guides</h3>
<ul class="reviews">
    <% const revArr = Object.keys(reviews) %>
    <% for(key of revArr) {%>
        <% const link = '/reviews/' + reviews[key].name %>
        <form action='<%= link %>' method="POST">
            <h2><%= reviews[key].title %></h2>
            <p><%= reviews[key].desc %></p>

            <input type="hidden" name="name" value=<%- reviews[key].name %>>
            <input type="hidden" name="moduleList" value=<%- JSON.stringify(reviews[key].moduleList); %>>
            <input type="hidden" name="title" value="<%- reviews[key].title %>">
            <input type="hidden" name="desc" value="<%- reviews[key].desc %>">
            <input type="hidden" name="votes" value=<%= reviews[key].votes %>>
            <input type="hidden" name="upvoted" value=<%- JSON.stringify(reviews[key].upvoted); %>>
            <input type="hidden" name="downvoted" value=<%- JSON.stringify(reviews[key].downvoted); %>>

            <button type="submit">View the guide by <%- reviews[key].name %></button> 
        </form> 
    <% }%>
</ul>